.post{
  grid-area: p;
  
}

.like{
  padding: 10px
}

.item img{
  width: 50px;
  border-radius: 30px;
  margin-left: 10px;
}

.msg {
  padding-block: 10px;
  margin-left: 5px;
  background-color: rgb(218, 184, 112);
}