.post{
  grid-area: p;
  border: black;
  border-style: dashed;
}

.like{
  padding: 10px;
  background-color: rgb(112, 197, 218);
  width: 20%;
  margin: 5px;
}

.item img{
  width: 50px;
  border-radius: 30px;
  margin-left: 10px;
}

.msg {
    width: 40%;
    margin-left: 5px;
    padding: 10px;
    background-color: rgb(234, 231, 226);
}

.userName {
    position: absolute;
    margin: 5px;
    padding: 2px;
    background-color: blueviolet;
    font-size: 25px;
    align-content: center;
}