.App {

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper{
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas: 
  "h h"
  "n c";
}

.nav{
  grid-area: n;
  background-color: green;
}

.header{
  grid-area: h;
  background-color: cyan;
}

.header img{
  width: 50px;
}

.content{
  grid-area: c;
  background-color: orchid;
}
