.nav{
  grid-area: n;
  background-color: rgb(176, 168, 241);
  width: 100px;
}

.item{
    color: white;
    margin: 5px;
}

.active{
    color: gold;
}

img {
  border-radius: 30px;
}

.status {
  
}